<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<link href="/static/style.css" type="text/css" rel="stylesheet"/>
	<link href="/static/custom.css" type="text/css" rel="stylesheet"/>
	<title>{% block title %}Datter{% endblock %}</title>
</head>
<body>
{% if error %}
	<div id="error-popup">
		<p>{{ error }}</p>
		<p>Click to close</p>
	</div>
{% endif %}
{% if username %}
	<script>
		window.username = {{ username|tojson }};
	</script>
	<div class="tools">
	</div>
{% endif %}
{% block content %}
{% endblock %}
<div id="uploading">
	<p>Uploading...</p>
</div>
</body>
 <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/static/script.js"></script>
</html>
