{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Help{% endblock %}
{% block pagetitle %}
	<h1>Help</h1>
{% endblock %}
{% block content %}
	<br/>
	<ul>
		{% for dataset in datasets %}
			<li>
				<div class="filename"><a href="{{ dataset.url }}">{{ dataset.title }}</a></div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}