{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Dataset Listing{% endblock %}
{% block content %}
	<h1>Datter</h1>
	<ul class="navbarbackground">
		<li>
			<div class="navbar"><a href="/">Home</a></div>
		</li>
		<li>
			<div class="navbar"><a href="/logout">Login</a></div>
		</li>
		<li>
			<div class="navbar"><a href="/recall-data">Recall Data</a></div>
		</li>
		<li>
			<div class="navbar"><a href="/help">Help</a></div>
		</li>
		<li>
			<div class="company"><a href="/">Datter</a></div>
		</li>
		{% if username %}
			<li>
				<div class="company"><a href="/logout">Logout</a></div>
			</li>
		{% endif %}
	</ul>
	<br/>
	<div class="fileuploadbox">
		<div class="dragndrop">
			<div class="dragwords">Drag and Drop File to Upload</div>
		</div>
	</div>
	<br/>
	<br/>
	<form id="fileuploadbutton" method="post" enctype="multipart/form-data">
		<input type="file" id="filename" name="filename"/>
		<input type="submit" value="Upload File"/>
	</form>
{% endblock %}
