{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Dataset Listing{% endblock %}
{% block pagetitle %}
	<h1>Datter</h1>
{% endblock %}
{% block content %}
	<br/>
	<div class="fileuploadbox">
		<div class="dragndrop">
			<div class="dragwords">Drag and Drop File to Upload</div>
		</div>
	</div>
	<br/>
	<br/>
	<form id="fileuploadbutton" method="post" enctype="multipart/form-data">
		<input type="file" id="filename" name="filename"/>
		<input type="submit" value="Upload File"/>
	</form>
{% endblock %}
