<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    Web interface for the best application ever! <b>Datter!</b>
    <div class="drop-zone">

        <pan class="drop-zone__prompt">Drop the file here or click to upload!</span>
        <input type="file" name="myFile" class="drop-zone__input">
    </div>


    <script src="script.js"></script>
</body>
</html>



