{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Dataset Listing{% endblock %}
{% block content %}
	<h1>All Datasets - Datter</h1>
	<ul>
		{% for dataset in datasets %}
			<li><a href="{{ dataset.url }}">{{ dataset.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}