{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Log In{% endblock %}
{% block content %}

<div class="login">
	<h1>Log In - Datter</h1>
	<form method="post" action="/login">
		<table style="width:50% !important" class = "center">
		<img width="400px" src="https://c0.wallpaperflare.com/preview/366/831/746/biz-business-business-graph-charts.jpg">
			<tr>
				<td><input placeholder="Full Name" type="text" name="username" id="username" /></td>
			</tr>
			<tr>

				<td><input placeholder"Password" type="password" name="password" id="password" /></td>
			</tr>
			
				<tr>
				<td><input class="logf" type="submit" value="Log In" /></td>
			</tr>
			<tr>
				<td><a class="regis" href="/create-account">Register</a></td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
