{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Recall Data{% endblock %}
{% block pagetitle %}
	<h1>Recall Data</h1>
{% endblock %}
{% block content %}
	<br/>
	<label for="username">Username: </label>
	<input type="text" id="username" name="username"/>
	<br/>
	<br/>
	<label for="testrun">Test run: </label>
	<input type="text" list="testtype" id="testrun" name="testrun"/>
	<datalist id="testtype">
		<option value="fat"/>
		<option value="ash"/>
		<option value="moisture"/>
		<option value="protein"/>
	</datalist>
	<br/>
	<br/>
	<label for="FirstTest">First Test Date: </label>
	<input type="date" id="FirstTest" name="FirstTest"/>
	<br/>
	<br/>
	<label for="FinalTest">Final Test Date: </label>
	<input type="date" id="FinalTest" name="FinalTest"/>
	<br/>
	<br/>
	<input type="submit" value="Find Data"/>
{% endblock %}