{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Dataset Listing{% endblock %}
{% block content %}
<h1>Recall Data</h1>
<ul class="navbarbackground">
    <li>
        <div class="navbar"><a href="/">Home</a></div>
    </li>
    <li>
        <div class="navbar"><a href="/logout">Login</a></div>
    </li>
    <li>
        <div class="navbar"><a href="#">Recall Data</a></div>
    </li>
    <li>
        <div class="navbar"><a href="/help">Help</a></div>
    </li>
    <li>
        <div class="company"><a href="/">Datter</a></div>
    </li>
    {% if username %}<li>
        <div class="company"><a href="/logout">Logout</a></div>
    </li>{% endif %}
</ul>
<br>
<table class="center">
    <tr>
        <th><label for="username">Username</label></th>
        <td><input type="text" name="username" id="username" /></td>
    </tr>
    <tr>
        <th><label for="test">Test Run</label></th>
        <td><input list="test" name="test" id="test" /></td>
        <datalist id="test">
            <option value="fat" >
            <option value="ash" >
            <option value="moisture" >
            <option value="protein" >
        </datalist>
    </tr>
    <tr>
        <th><label for="firstdate">First Test Date</label></th>
        <td><input type="date" id="FirstTest" name="FirstTest" /></td>
    </tr>
    <tr>
        <th><label for="finaldate">Final Test Date</label></th>
        <td><input type="date" id="FinalTest" name="FinalTest" /></td>
    </tr>
    <tr>
        <td></td>
        <th><input class="finddatabutton" type="submit" value="Find Data" /></th>
    </tr>
</table>
{% endblock %}