{% extends "base.jinja2" %}
{% block title %}{{ super() }} - register{% endblock %}
{% block content %}
<div id="new_div"></div>
<div class="register">
	<h1>Register Account - Datter</h1>
	<form method="post" action="/login">
		<table style="width:50% !important" class = "center">
		<img width="400px" src="https://st.depositphotos.com/2169717/3999/i/950/depositphotos_39998783-stock-photo-financial-business-chart-and-graphs.jpg">
			<tr>
				<td><input placeholder="Full Name" type="text" name="username" id="username" /></td>
			</tr>
			<tr>

				<td><input placeholder"Password" type="password" name="password" id="password" /></td>
			</tr>
		
			<tr>
				<td colspan="2">
					<label><input type="checkbox" required />&nbsp;I am a human</label>
				</td>
			</tr>
				<tr>
				<td><input class="logf" type="submit" value="Log In" /></td>
			</tr>
			<tr>
				<td><a class="regis2" href="/create-account">Register</a></td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
