{% extends "base.jinja2" %}
{% block title %}{{ super() }} - Register Account{% endblock %}
{% block pagetitle %}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<div class="register">
		<h1>Register Account</h1>
		<form method="post" action="/create-account">
			<table class="center">
				<tr>
					<th><label for="username">Username</label></th>
					<td><input type="text" name="username" id="username" required/></td>
				</tr>
				<tr>
					<th><label for="password">Password</label></th>
					<td><input type="password" name="password" id="password" required/></td>
				</tr>
				<tr>
					<th><label for="confirm-password">Confirm Password</label></th>
					<td><input type="password" id="confirm-password" required/></td>
				</tr>
				<tr>
					<td colspan="2">
						<label><input type="checkbox" required/>&nbsp;I am a human</label>
					</td>
				</tr>
				<tr>
					<td><a href="/login">Log In</a></td>
					<th><input class="loginbutton" type="submit" value="Register"/></th>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}
