.navbar a {
	background-color: #f50057;
    color: white;
    margin: 0px 10px;
    border-radius: 5px;
}
label{
	color:black !important;
}
.navbarbackground{
	background-color:lightgray !important;
	padding:10px 0px !important;
}
body{
	background-color:white !important;
}
#myFile{
	color:black !important;
}
.dragndrop{
	border-color:black !important;
}
.dragwords{
	color:black !important;
}
body h1{
	color:black;
}

.login h1{
	color:black !important;
}
.regis2{
	background-color:#f50057;
	color:white;
	width:100%;
	height:45px;
	width:98% !important;
	border-radius:5px;
	border-style:none;
	}
	.recall-log{
		background-color:#f50057;
		color:white;
		width:100%;
		height:45px;
		width:98% !important;
		border-radius:5px;
		border-style:none;
		}
.logf{
background-color:#f50057;
color:white;
width:100%;
height:45px;
width:98% !important;
border-radius:5px;
border-style:none;
}
#username{
height:45px;
background-color:white !important;
margin-bottom:30px;
padding-left:10px;
width:95.5% !important;
border-radius:5px;
border:1px solid gray !important;
}
label{
	font-size: 25px !important;;
}
.file-label{
    padding: 10px;
    background: blue;
	border-radius: 5px !important; 
	margin: 10px;
    color: #fff !important;
	
     }


 #FinalTest[type=data]{
		height: 500px;
		width: 500px;
	  }
input[type="file"] {
    display: none;
}
#testrun{
	height:45px;
	background-color:white !important;
	margin-bottom:30px;
	padding-left:10px;
	width:95.5% !important;
	border-radius:5px;
	border:1px solid gray !important;
	}
tr{
border-style:none !important;
}
th{
border-style:none !important;
}
td{
border-style:none !important;
}
body{
background-color:white !important;
}
#password{
height:45px;
background-color:white !important;
margin-bottom:30px;
padding-left:10px;
width:95.5% !important;
border-radius:5px;
border:1px solid gray !important;
}
.regis{
color:black !important;
text-align:left;
}
.recall{
	width:50% !important;
	display: block;
	margin: auto;
}