.navbar a {
	background-color: #f50057;
    color: white;
    margin: 0px 10px;
    border-radius: 5px;
}
label{
	color:black !important;
}
.navbarbackground{
	background-color:lightgray !important;
	padding:10px 0px !important;
}
body{
	background-color:white !important;
}
#myFile{
	color:black !important;
}
.dragndrop{
	border-color:black !important;
}
.dragwords{
	color:black !important;
}
body h1{
	color:black;
}

.login h1{
	color:black !important;
}
.logf{
background-color:#f50057;
color:white;
width:100%;
height:45px;
width:98% !important;
border-radius:5px;
border-style:none;
}
#username{
height:45px;
background-color:white !important;
margin-bottom:30px;
padding-left:10px;
width:95.5% !important;
border-radius:5px;
border:1px solid gray !important;
}
tr{
border-style:none !important;
}
th{
border-style:none !important;
}
td{
border-style:none !important;
}
body{
background-color:white !important;
}
#password{
height:45px;
background-color:white !important;
margin-bottom:30px;
padding-left:10px;
width:95.5% !important;
border-radius:5px;
border:1px solid gray !important;
}
.regis{
color:black !important;
text-align:left;
}