html {
	font-family: sans-serif;

	/* This is so the drag-and-drop works on the entire page, not just the content's bounding box */
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	color: white;
}




/* Calendar  */


#FirstTest{
	width: 100%;
	height: 45px;
	outline: 0;
	border: 1px solid #000;
	font-size: 20px;
	padding-left: 10px;
	font-family: sans-serif;
	margin-top:8px;

}
#FinalTest{
	width: 100%;
	height: 45px;
	position: relative;
	outline: 0;
	border: 1px solid #000;
	font-size: 20px;
	padding-left: 10px;
	font-family: sans-serif;
	margin-top:8px;
}
.input_one{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.input_two{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#moon{
	width: 100px;
	height: 100px;
	background: #000;
	z-index: 999999;
}
#calenderMain{
	position: relative;
}
.main {
	position: absolute;
	left: 60%;
	bottom: -40%;
	width: 500px;
	color: #000;
	background: #fff;
	text-align: center;
	border-radius: 0rem;
	letter-spacing: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
	z-index: 99999;
  }
  .month {
	text-align: center;
	padding: 10px;
  }
  .week {
	display: inline-flex;
	text-align: center;
	padding: 10px;
  }
  .week .wDay {
	padding: 10px;
	margin: 10px;
	color: #000;
  }
  .date {
	color: 3000;
  }
  #fillDate {
	width: 100%;
	color: 3000;
  }
  #fillDate tr,
  td {
	padding: 10px;
	color: #000;
  }
  .date:hover {
	background: white;
	color: #007bff;
	font-weight: bold;
	cursor: pointer;
  }
  .date td:hover {
	background: white;
	color: #007bff;
	font-weight: bold;
  }
  .year,
  .month {
	padding: 5px;
	cursor: pointer;
  }
  .yearDiv {
	position: relative;
	font-size: 25px;
	padding: 10px;
  }
  .monthDiv {
	position: relative;
	font-size: 20px;
	padding: 10px;
  }
  .left {
	position: absolute;
	left: 10px;
	cursor: pointer;
  }
  .right {
	position: absolute;
	right: 10px;
	cursor: pointer;
  }
  .wDay {
	cursor: default;
  }
  svg {
	width: 16px;
	height: 16px;
  }
  


/* Calendar  */


#uploading {
	display: none;
}

#uploading.show {
	display: unset;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

#uploading p {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 3em;
}

#error-popup {
	background-color: rgba(255, 170, 170, 0.5);
	color: rgb(170, 0, 0);
	border-radius: 1em;
	text-align: center;

	width: 40vw;
	height: 15vh;

	position: fixed;
	top: 5vh;
	left: 50%;
	transform: translate(-50%, 0);
}

.tools {
	float: right;
}

table {
	border-collapse: collapse;
}

h1{
	text-align: center;
}

th,
td {
	border: 0.0625em solid #def;
	padding: 0.25em;
}

#getData {
	width: 250px;
	height: 200px;
	padding: 10px;
	border: 10px solid #4f4d4d;
}

ul.navbarbackground {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkslategray;
}

body {
	background-color: gray;
}

h2 {
	color: white;
}

.login {
	text-align: center;
}

.register{
	text-align: center;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.fileuploadbutton{
	text-align: center;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .company a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

li .navbar a:hover {
	background-color: lightgray;
}

.fileuploadbox {
	width: 100%;
	height: 500px;
}

.dragndrop{
	margin-right: 25%;
	margin-left: 25%;
	height: 100%;
	border-color: white;
	border-style: dashed;
	text-align: center;
}

.dragwords{
margin-top: 22%;
font-size: x-large;
}

.filename a{
	color: #def;
	text-decoration: none;
}

