<!DOCTYPE HTML>
<html>

<head>
  <link rel=stylesheet type=text/css href="/static/css/header.css">
  <script src="/static/js/script.js"></script> 
</head>

<body>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="recallData">Recall Data</a></li>
    <li><a href="help">Help</a></li>
    <li><div class="company">Datter</div></li>
  </ul>
  <br>
  <div class="drag-area">
    <div class="file"><i class="file"></i></div>
    <header>Drag & Drop to Upload File</header>
  </div>
  <br>
  <h2>Or Select a File</h2>
  <input type="file" id="myFile" name="filename">
  <input type="submit" value="Submit">
</body>

</html>