<!DOCTYPE HTML>
<html>
<head>
  <link rel=stylesheet type=text/css href="/static/css/header.css">
</head>
 
<body>
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="recallData">Recall Data</a></li>
		<li><a href="help">Help</a></li>
		<li><div class="company">Datter</div></li>
	</ul>
    <h2>Login</h2>
    <label for="username">Username: </label>
    <input type="test" id="username" name="username">
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="test" id="password" name="password">
    <br>
    <br>
    <input type="submit" value="Login">
</body>
</html>
