<!DOCTYPE HTML>
<html>

<head>
    <link rel=stylesheet type=text/css href="/static/css/header.css">
</head>

<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="#recallData">Recall Data</a></li>
        <li><a href="help">Help</a></li>
        <li>
            <div class="company">Datter</div>
        </li>
    </ul>
    <h2>Recall Data</h2>
    <label for="username">Username: </label>
    <input type="test" id="username" name="username">
    <br>
    <br>
    <label for="testrun">Test run: </label>
    <input list="testtype" id="testrun" name="testrun">
    <datalist id="testtype">
        <option value="fat">
        <option value="ash">
        <option value="moisture">
        <option value="protein">
    </datalist>
    <br>
    <br>
    <label for="FirstTest">First Test Date: </label>
    <input type="date" id="FirstTest" name="FirstTest">
    <br>
    <br>
    <label for="FinalTest">Final Test Date: </label>
    <input type="date" id="FinalTest" name="FinalTest">
    <br>
    <br>
    <input type="submit" value="Find Data">
</body>

</html>